@charset "UTF-8";

@font-face {
  font-family: "dobro-jem";
  src:url("../../../assets/fonts/dobro-jem.eot");
  src:url("../../../assets/fonts/dobro-jem.eot?#iefix") format("embedded-opentype"),
  url("../../../assets/fonts/dobro-jem.woff") format("woff"),
  url("../../../assets/fonts/dobro-jem.ttf") format("truetype"),
  url("../../../assets/fonts/dobro-jem.svg#dobro-jem") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "dobro-jem" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "dobro-jem" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: -13%;
}

.icon-angle-down:before {
  content: "\61";
}
.icon-angle-left:before {
  content: "\62";
}
.icon-angle-right:before {
  content: "\63";
}
.icon-angle-up:before {
  content: "\64";
}
.icon-at:before {
  content: "\65";
}
.icon-ban:before {
  content: "\66";
}
.icon-bar-chart:before {
  content: "\67";
}
.icon-bars:before {
  content: "\68";
}
.icon-bolt:before {
  content: "\69";
}
.icon-ellipsis-v:before {
  content: "\6a";
}
.icon-ellipsis-h:before {
  content: "\6b";
}
.icon-eur:before {
  content: "\6c";
}
.icon-exclamation:before {
  content: "\6d";
}
.icon-exclamation-triangle:before {
  content: "\6e";
}
.icon-exclamation-circle:before {
  content: "\6f";
}
.icon-fighter-jet:before {
  content: "\70";
}
.icon-facebook:before {
  content: "\71";
}
.icon-fire:before {
  content: "\72";
}
.icon-google-plus:before {
  content: "\73";
}
.icon-graduation-cap:before {
  content: "\74";
}
.icon-heart:before {
  content: "\75";
}
.icon-heart-o:before {
  content: "\76";
}
.icon-home:before {
  content: "\77";
}
.icon-instagram:before {
  content: "\78";
}
.icon-map-o:before {
  content: "\79";
}
.icon-location-arrow:before {
  content: "\7a";
}
.icon-map-marker:before {
  content: "\41";
}
.icon-map:before {
  content: "\42";
}
.icon-male:before {
  content: "\43";
}
.icon-pencil:before {
  content: "\44";
}
.icon-phone:before {
  content: "\45";
}
.icon-rocket:before {
  content: "\46";
}
.icon-refresh:before {
  content: "\47";
}
.icon-repeat:before {
  content: "\48";
}
.icon-spinner:before {
  content: "\49";
}
.icon-star:before {
  content: "\4a";
}
.icon-star-half:before {
  content: "\4b";
}
.icon-star-half-o:before {
  content: "\4c";
}
.icon-star-o:before {
  content: "\4d";
}
.icon-tag:before {
  content: "\4e";
}
.icon-tags:before {
  content: "\4f";
}
.icon-tachometer:before {
  content: "\50";
}
.icon-table:before {
  content: "\51";
}
.icon-trash-o:before {
  content: "\52";
}
.icon-trash:before {
  content: "\53";
}
.icon-thumbs-up:before {
  content: "\54";
}
.icon-times:before {
  content: "\55";
}
.icon-times-circle:before {
  content: "\56";
}
.icon-pin:before {
  content: "\57";
}
.icon-heart-1:before {
  content: "\58";
}
.icon-spinner-1:before {
  content: "\59";
}
.icon-check:before {
  content: "\5a";
}
.icon-device-mobile:before {
  content: "\30";
}
.icon-gear:before {
  content: "\31";
}
.icon-heart-2:before {
  content: "\32";
}
.icon-location:before {
  content: "\33";
}
.icon-mortar-board:before {
  content: "\34";
}
.icon-mention:before {
  content: "\35";
}
.icon-rocket-1:before {
  content: "\36";
}
.icon-zap:before {
  content: "\37";
}
.icon-x:before {
  content: "\38";
}
.icon-apple:before {
  content: "\39";
}
.icon-phone-classic-off:before {
  content: "\21";
}
.icon-phone-classic-on:before {
  content: "\22";
}
.icon-pin-1:before {
  content: "\23";
}
.icon-pin-filled:before {
  content: "\24";
}
.icon-android:before {
  content: "\25";
}
.icon-apple-1:before {
  content: "\26";
}
.icon-bookmark:before {
  content: "\27";
}
.icon-call:before {
  content: "\28";
}
.icon-calendar-2:before {
  content: "\29";
}
.icon-car:before {
  content: "\2a";
}
.icon-spoon:before {
  content: "\2b";
}
.icon-twitter:before {
  content: "\2c";
}
.icon-twitter-outline:before {
  content: "\2d";
}
.icon-calendar:before {
  content: "\2e";
}
.icon-elusive-icons:before {
  content: "\2f";
}
.icon-refresh-1:before {
  content: "\3a";
}
.icon-plane:before {
  content: "\3b";
}
.icon-map-pin-streamline:before {
  content: "\3c";
}
.icon-apple-2:before {
  content: "\3d";
}
.icon-home-1:before {
  content: "\3e";
}
.icon-bookmark-1:before {
  content: "\3f";
}
.icon-social-android:before {
  content: "\40";
}
.icon-social-apple:before {
  content: "\5b";
}
.icon-social-twitter:before {
  content: "\5d";
}
.icon-wheelchair:before {
  content: "\5e";
}
.icon-android-1:before {
  content: "\5f";
}
.icon-book-open:before {
  content: "\60";
}
.icon-disability:before {
  content: "\7b";
}
.icon-fast-food:before {
  content: "\7c";
}
.icon-restaurant:before {
  content: "\7d";
}
.icon-slaughterhouse:before {
  content: "\7e";
}
.icon-fork-and-knife:before {
  content: "\5c";
}
.icon-android-2:before {
  content: "\e000";
}
.icon-calendar-1:before {
  content: "\e001";
}
.icon-search:before {
  content: "\e002";
}
.icon-search-find:before {
  content: "\e003";
}
.icon-user:before {
  content: "\e004";
}
.icon-user-add:before {
  content: "\e005";
}
.icon-android-time:before {
  content: "\e006";
}
.icon-github:before {
  content: "\e007";
}
.icon-lock:before {
  content: "\e008";
}
.icon-chart-bar:before {
  content: "\e009";
}
.icon-envelope-o:before {
  content: "\e00a";
}
.icon-ios-email-outline:before {
  content: "\e00b";
}
.icon-mail:before {
  content: "\e00c";
}
.icon-comment:before {
  content: "\e00d";
}
.icon-ios-circle-filled:before {
  content: "\e00e";
}
.icon-help:before {
  content: "\e00f";
}
.icon-help-circled:before {
  content: "\e011";
}
.icon-sort-alpha-asc:before {
  content: "\e010";
}
.icon-sort-alpha-desc:before {
  content: "\e012";
}
.icon-burst-new:before {
  content: "\e013";
}
.icon-food:before {
  content: "\e014";
}
.icon-bubble-comment-streamline-talk:before {
  content: "\e015";
}
.icon-truck:before {
  content: "\e016";
}
.icon-smile-o:before {
  content: "\e017";
}
.icon-sort-numeric-asc:before {
  content: "\e018";
}
.icon-sort-numeric-desc:before {
  content: "\e019";
}
.icon-beer:before {
  content: "\e01a";
}
.icon-fork:before {
  content: "\e01b";
}
.icon-transportation-car:before {
  content: "\e01c";
}
.icon-eat-food-hotdog-streamline:before {
  content: "\e01d";
}
.icon-happy-smiley:before {
  content: "\e01e";
}
.icon-happy-smiley-very:before {
  content: "\e01f";
}
.icon-fire-1:before {
  content: "\e020";
}
.icon-barbecue-eat-food-streamline:before {
  content: "\e021";
}
.icon-chef-food-restaurant-streamline:before {
  content: "\e022";
}
.icon-coffee:before {
  content: "\e023";
}
.icon-ios-nutrition:before {
  content: "\e024";
}
.icon-ios-nutrition-outline:before {
  content: "\e025";
}
.icon-pizza:before {
  content: "\e026";
}
.icon-bug:before {
  content: "\e027";
}
.icon-long-arrow-down:before {
  content: "\e028";
}
.icon-long-arrow-up:before {
  content: "\e029";
}
.icon-sort-amount-asc:before {
  content: "\e02a";
}
.icon-sort-amount-desc:before {
  content: "\e02b";
}
.icon-move-down:before {
  content: "\e02c";
}
.icon-move-up:before {
  content: "\e02d";
}
