#homepage {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/city-restaurant-lunch-outside.jpg) no-repeat center center fixed;
  background-size: cover;
  top: 0px;
}

#body {
  margin-top: 125px;
  color: white;
  footer{
    position: relative;
    margin-top: 20px;
    bottom: 10px;
    a{
      bottom: 15px;
      color: white;
      padding: 0 10px;
      &:hover{
        text-decoration: none;
        color: $dj-main-color;
      }
    }
  }
}

.extra-large {
  opacity: .8;
  font-size: 6.5em;
}

#body input:not(.form-control) {
  background: rgba(255, 255, 255,.95);
  padding: 10px;
  font-size: 1.3em;
  width: 100%;
  color: #999;
  border: rgba(255, 255, 255, 1) 3px solid;
  line-height:normal !important;
  color: $gray-darker;
}

#results{
  color: $gray-dark;
  margin-top: 20px;
}

*::-webkit-input-placeholder {
  color: $gray-dark;
}
*:-moz-placeholder {
  color: $gray-dark;
}
*::-moz-placeholder {
  color: $gray-dark;
}
*:-ms-input-placeholder {
  color: $gray-dark;
}