#menu{
  position: absolute;
  top: 50px;
  padding: 10px 20px 15px;
  background: rgba(0,0,0,.7);
  nav{
    ul{
      list-style-type: none;
      li{
        display: inline-block;
        float: left;
        a{
          color: white;
          text-transform: capitalize;
          margin: 0 10px;
          &:hover{
            color: $dj-main-color;
            text-decoration: none;
            border-bottom: solid $dj-main-color 2.5px;
          }
        }
      }
    }
  }
}