div.clear
{
  clear: both;
}

div.product-chooser{

}

div.product-chooser.disabled div.product-chooser-item
{
  zoom: 1;
  filter: alpha(opacity=60);
  opacity: 0.6;
  cursor: default;
}

div.product-chooser div.product-chooser-item{
  padding: 11px;
  border-radius: 1px;
  cursor: pointer;
  position: relative;
  border: 1px solid #fff;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 2px;
}

div.product-chooser div.product-chooser-item.selected{
  border: 4px solid $dj-main-color;
  padding: 8px;
  filter: alpha(opacity=100);
  opacity: 1;
}

div.product-chooser div.product-chooser-item img{
  padding: 0;
}

div.product-chooser div.product-chooser-item span.title{
  display: block;
  margin: 10px 0 5px 0;
  font-weight: bold;
  font-size: 12px;
}

div.product-chooser div.product-chooser-item span.description{
  font-size: 12px;
}

div.product-chooser div.product-chooser-item input{
  position: absolute;
  left: 0;
  top: 0;
  visibility:hidden;
}