.rest {
  border-top: 3px solid $dj-main-color;
  margin-bottom: 30px;
  margin-top: 20px;
  width: 100%;
  min-height:326px;
  background: rgb(255, 255, 255);
  padding: 10px 20px;
  .features {
    margin-top: -30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .feature {
      font-size: 1.3em;
      color: white;
      height: 35px;
      width: 35px;
      background: $dj-main-color;
      border-radius: 100%;
      flex-grow: 0;
      i {
        position: absolute;
        margin-left: 7.5px;
        margin-top: 4.5px;
      }
    }
  }
  .info {
    h2 {
      font-size: 1.5em;
      font-family: $dj-body-font !important;
      a:hover {
        text-decoration: none;
      }
    }
  }
  .price-area {
    padding: 20px;
    width: 98%;
    margin: 70px auto 20px;
    border-top: 2px solid $gray-lighter;
    .price {
      margin-top: -45px;
      text-align: center;
      padding: 5px 10px;
      width: 100px;
      background: rgb(255, 255, 255);
      position: absolute;
      left: 50%;
      margin-left: -50px;
    }
  }
  .additional{
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    .item{
      bottom: 0px;
      flex-grow: 1;
      p.header{
        color: $dj-main-color;
      }
    }
  }
}

.options {
  font-size: 18px;
  position: absolute;
  right: 0;
  top: 10px;
  z-index: 3;
}

.options-right {
  font-size: 18px;
  position: absolute;
  right: 0;
  top: 10px;
  z-index: 3;
}

.action-price {
  color: $dj-main-color;
  font-size: 1.8em;
}

.rating {
  margin-bottom: 10px;
}

.closed {
  background: red;
}

.liked {
  color: red !important;
}

.opened {
  background: #3adb76;
}

.undefined {
  background: #f0ad4e;
}

.activity {
  display: inline-block;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-bottom: 4px;
}

h3 > a {
  color: $dj-main-color;
  text-decoration: underline;
}

.menu {
  transition: all .2s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
  ul > li {
    white-space: pre-wrap;
    overflow: hidden;
  }
}

.feature {
  margin: 0 5px 0;
}

.menus {
  height: 150px;
}

#restaurant-map {
  border-top: 4px solid $dj-main-color;
  z-index: -1;
}

.features-list {
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: -20px;
  .feature {
    font-size: 1.3em;
    color: white;
    height: 35px;
    width: 35px;
    background: $dj-main-color;
    border-radius: 100%;
    flex-grow: 0;
    position: relative;
    i {
      position: absolute;
      margin-left: 7.5px;
      margin-top: 4.5px;
    }
  }
}