.jslider { font-family: $dj-body-font; top: 12px;
  .jslider-value { background-color: transparent; color: $gray-dark;  font-size: 12px; font-weight: normal; }
  .jslider-bg {
    i { height: 2px; }
    .l { background: none; background-color: #fff; }
    .f { background: none; background-color: #fff;  }
    .r { background: none; background-color: #fff; }
    .v { background: none; background-color: $dj-main-color; height: 2px; }
  }
  .jslider-pointer { @include box-shadow(0px 1px 1px rgba(0,0,0,.2)); background: no-repeat 50% 50% $dj-main-color; height: 14px; width: 14px; top: 12px;
    &:before { border-style: solid; border-width: 0 7px 8px 7px; border-color: transparent transparent $dj-main-color transparent; content: ""; height: 0px;  width: 0px; position: absolute; top: -8px; }
  }
  .jslider-label { color: $gray-dark;
    font-weight:normal; }
}

.price-range { @include transition(.3s); @include box-shadow(0px 1px 1px rgba(0,0,0,.2)); background-color: $body-bg; margin-bottom: 20px; padding: 15px 15px 10px;
  .jslider-label, .jslider-value { color: $gray-dark; }
}