.font-2x {
  font-size: 2em;
}

.font-4x {
  font-size: 4em;
}

table.border-less td, table.border-less th {
  border: none !important;
}

.font-1-3-x {
  font-size: 1.3em;
}

.font-1-5-x {
  font-size: 1.5em;
}

.font-1-7-x {
  font-size: 1.7em;
}

.block-flat {
  background: white;
  padding: 20px;
}

.no-margin {
  margin: 0 !important;
}

.min-margin {
  margin: 0px 0 30px;
}

.normal-line-height {
  line-height: normal !important;
}

.gray-out {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: gray;
  -webkit-filter: grayscale(1);
}

.body-font {
  font-family: $dj-body-font !important;
}

.top-margin {
  margin-top: 15px;
}

.pointer {
  cursor: pointer;
}

.alert-fix{
  margin-top: 35px;
  margin-bottom: -25px;
}